<a href="https://colab.research.google.com/github/Rukawe/Predicciones-de-Ventas/blob/main/Ejercicio_titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [5]:
filename = '/content/titanic.csv'
df = pd.read_csv(filename)

In [96]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

Muestren el centro del marco de datos.

In [7]:
centro = df.median

In [8]:
centro()

<ipython-input-8-c4197e29e189>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  centro()

PassengerId    446.0000
Survived         0.0000
Pclass           3.0000
Age             28.0000
SibSp            0.0000
Parch            0.0000
Fare            14.4542
dtype: float64

¿Cuál es el porcentaje de las personas que sobrevivió? (pista: encuentren la media de la columna de supervivencia).

In [12]:
mediana_sobrevivientes = df['Survived'].mean()
mediana_sobrevivientes.round(2) *100 #N° se multiplica por 100 para llegar al procentaje

38.0

¿Cuántos de cada sexo sobrevivieron?

In [17]:
sobrevivientes_genero = df.groupby('Sex')['Survived'].sum()
sobrevivientes_genero

Sex
female    233
male      109
Name: Survived, dtype: int64

Si consideran solo el grupo de pasajeros que pagó menos de $10, ¿cuál sería el porcentaje de este grupo que sobrevivió?

In [97]:
df['Fare'].head()

0     7.2500
1    71.2833
2     7.9250
3    53.1000
4     8.0500
Name: Fare, dtype: float64

In [47]:
paga_menos_10 = (df['Fare']>10.00) & (df['Survived']) 
paga_menos_10.mean() *100 #Se aplica el filtro que incluye considerar ambas columnas con el condicional de que sean valores boletos menores a #10

30.864197530864196

En total, ¿cuál es la edad promedio de los que no sobrevivieron?

In [84]:
edad_promedio = df.loc[df['Survived'] == 0, 'Age'].mean()
filtro = (df['Survived'] == 0) & (df['Age'] < edad_promedio)
resultados = df[filtro]
filtro_extra = resultados['Age'].mean()
filtro_extra.round(2)

21.0

En total, ¿cuál es la edad promedio de los que sobrevivieron?

In [85]:
edad_promedio_2 = df.loc[df['Survived'] == 1, 'Age'].mean()
filtro_2 = (df['Survived'] == 1) & (df['Age'] < edad_promedio_2)
resultados_2 = df[filtro_2]
filtro_extra_2 = resultados_2['Age'].mean()
filtro_extra_2.round(2) # Se utiliza los mismos pasos para generar el filtro, solo varía el número que se considera para el sobreviviente.

16.86

¿Cuál es el promedio de edad de lo que sobrevivieron y no, agrupados por sexo?

In [94]:
super_filtro = df.groupby(['Sex', 'Survived'])['Age'].mean()
super_filtro.round() #group by permite definir dos criterios iniciales (Sex y Survived) y en base a esos criterio, la edad promedio

Sex     Survived
female  0           25.0
        1           29.0
male    0           32.0
        1           27.0
Name: Age, dtype: float64