<a href="https://colab.research.google.com/github/Rukawe/Predicciones-de-Ventas/blob/main/Ensayo_examen.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [163]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [164]:
filename = '/content/literacy_rates.csv'
df = pd.read_csv(filename)

In [189]:
df.head(50)

                       Region      Country  Year    Age  Gender  Literacy rate
0   Central and Southern Asia  Afghanistan  2011    15+  female       0.176121
1   Central and Southern Asia  Afghanistan  2011    15+    male       0.454171
2   Central and Southern Asia  Afghanistan  2011    15+   total       0.317411
3   Central and Southern Asia  Afghanistan  2011  15-24  female       0.321132
4   Central and Southern Asia  Afghanistan  2011  15-24    male       0.618791
5   Central and Southern Asia  Afghanistan  2011  15-24   total       0.469900
6   Central and Southern Asia  Afghanistan  2011  25-64  female       0.084128
7   Central and Southern Asia  Afghanistan  2011  25-64    male       0.377948
8   Central and Southern Asia  Afghanistan  2011  25-64   total       0.231536
9   Central and Southern Asia  Afghanistan  2011    65+  female       0.196705
10  Central and Southern Asia  Afghanistan  2011    65+   total       0.203219
11  Central and Southern Asia  Afghanistan  2018    15+  female       0.298052
12  Central and Southern Asia  Afghanistan  2018    15+    male       0.554755
13  Central and Southern Asia  Afghanistan  2018    15+   total       0.430197
14  Central and Southern Asia  Afghanistan  2018  15-24  female       0.562547
15  Central and Southern Asia  Afghanistan  2018  15-24    male       0.740848
16  Central and Southern Asia  Afghanistan  2018  15-24   total       0.654206
17  Central and Southern Asia  Afghanistan  2018  25-64  female       0.143314
18  Central and Southern Asia  Afghanistan  2018  25-64    male       0.453840
19  Central and Southern Asia  Afghanistan  2018  25-64   total       0.304579
20  Central and Southern Asia  Afghanistan  2018    65+  female       0.034743
21  Central and Southern Asia  Afghanistan  2018    65+    male       0.247450
22  Central and Southern Asia  Afghanistan  2018    65+   total       0.133318
23  Central and Southern Asia   Bangladesh  2011    15+  female       0.551194
24  Central and Southern Asia   Bangladesh  2011    15+    male       0.624831
25  Central and Southern Asia   Bangladesh  2011    15+   total       0.587692
26  Central and Southern Asia   Bangladesh  2011  15-24  female       0.795445
27  Central and Southern Asia   Bangladesh  2011  15-24    male       0.764034
28  Central and Southern Asia   Bangladesh  2011  15-24   total       0.779850
29  Central and Southern Asia   Bangladesh  2011  25-64  female       0.480653
30  Central and Southern Asia   Bangladesh  2011  25-64    male       0.585419
31  Central and Southern Asia   Bangladesh  2011  25-64   total       0.532388
32  Central and Southern Asia   Bangladesh  2011    65+  female       0.184306
33  Central and Southern Asia   Bangladesh  2011    65+    male       0.415052
34  Central and Southern Asia   Bangladesh  2011    65+   total       0.301912
35  Central and Southern Asia   Bangladesh  2012    15+  female       0.542360
36  Central and Southern Asia   Bangladesh  2012    15+    male       0.615429
37  Central and Southern Asia   Bangladesh  2012    15+   total       0.578608
38  Central and Southern Asia   Bangladesh  2012  15-24  female       0.793692
39  Central and Southern Asia   Bangladesh  2012  15-24    male       0.762763
40  Central and Southern Asia   Bangladesh  2012  15-24   total       0.778329
41  Central and Southern Asia   Bangladesh  2012  25-64  female       0.472205
42  Central and Southern Asia   Bangladesh  2012  25-64    male       0.574101
43  Central and Southern Asia   Bangladesh  2012  25-64   total       0.522514
44  Central and Southern Asia   Bangladesh  2012    65+  female       0.140803
45  Central and Southern Asia   Bangladesh  2012    65+    male       0.394734
46  Central and Southern Asia   Bangladesh  2012    65+   total       0.271811
47  Central and Southern Asia   Bangladesh  2013    15+  female       0.577890
48  Central and Southern Asia   Bangladesh  2013    15+    male       0.642138
49  Central and Southern Asia   Bangladesh  2013    15+   total       0.610155

In [190]:
df.shape

(4955, 6)

In [191]:
df.value_counts()

Region                            Country      Year  Age    Gender  Literacy rate
Central and Southern Asia         Afghanistan  2011  15+    female  0.176121         1
Northern Africa and Western Asia  Oman         2016  15-24  total   0.987036         1
                                               2017  15+    female  0.922256         1
                                               2016  65+    total   0.418608         1
                                                            male    0.434718         1
                                                                                    ..
Latin America and the Caribbean   Brazil       2016  65+    male    0.773319         1
                                                            female  0.760023         1
                                                     25-64  total   0.939201         1
                                                            male    0.931156         1
Sub-Saharan Africa                Zimbabwe     2014  65+    total   0.811269         1
Length: 4955, dtype: int64

In [192]:
df.duplicated().sum() # No existen valores duplicados

0

In [193]:
df.isna().sum() # Tenemos 5 valores que faltan, y están en la columna región. Habrá una relación directa de la región y el pais.

Region           0
Country          0
Year             0
Age              0
Gender           0
Literacy rate    0
dtype: int64

In [194]:
region_perdido = df['Region'].isna()

In [195]:
df.loc[region_perdido, :]

Empty DataFrame
Columns: [Region, Country, Year, Age, Gender, Literacy rate]
Index: []

In [196]:
filtro_pais = df[df['Country'] == 'Uzbekistan']

In [197]:
print(filtro_pais) # La región de Uzbekistan es 'Central and Southern Asia'

                        Region     Country  Year    Age  Gender  Literacy rate
419  Central and Southern Asia  Uzbekistan  2013    15+  female       0.999959
420  Central and Southern Asia  Uzbekistan  2013    15+    male       0.999938
421  Central and Southern Asia  Uzbekistan  2013    15+   total       0.999949
422  Central and Southern Asia  Uzbekistan  2013  15-24  female       1.000000
423  Central and Southern Asia  Uzbekistan  2013  15-24    male       1.000000
424  Central and Southern Asia  Uzbekistan  2013  15-24   total       1.000000
425  Central and Southern Asia  Uzbekistan  2013  25-64  female       1.000000
426  Central and Southern Asia  Uzbekistan  2013  25-64    male       1.000000
427  Central and Southern Asia  Uzbekistan  2013  25-64   total       1.000000
428  Central and Southern Asia  Uzbekistan  2013    65+  female       0.999347
429  Central and Southern Asia  Uzbekistan  2013    65+    male       0.998772
430  Central and Southern Asia  Uzbekistan  2013    65+   total       0.999095
431  Central and Southern Asia  Uzbekistan  2014    15+  female       0.999760
432  Central and Southern Asia  Uzbekistan  2014    15+    male       0.999852
433  Central and Southern Asia  Uzbekistan  2014    15+   total       0.999805
434  Central and Southern Asia  Uzbekistan  2014  15-24  female       1.000000
435  Central and Southern Asia  Uzbekistan  2014  15-24    male       1.000000
436  Central and Southern Asia  Uzbekistan  2014  15-24   total       1.000000
437  Central and Southern Asia  Uzbekistan  2014  25-64  female       1.000000
438  Central and Southern Asia  Uzbekistan  2014  25-64    male       1.000000
439  Central and Southern Asia  Uzbekistan  2014  25-64   total       1.000000
440  Central and Southern Asia  Uzbekistan  2014    65+  female       0.996215
441  Central and Southern Asia  Uzbekistan  2014    65+    male       0.997067
442  Central and Southern Asia  Uzbekistan  2014    65+   total       0.996589
443  Central and Southern Asia  Uzbekistan  2015    15+  female       0.999758
444  Central and Southern Asia  Uzbekistan  2015    15+    male       0.999920
445  Central and Southern Asia  Uzbekistan  2015    15+   total       0.999838
446  Central and Southern Asia  Uzbekistan  2015  15-24  female       1.000000
447  Central and Southern Asia  Uzbekistan  2015  15-24    male       1.000000
448  Central and Southern Asia  Uzbekistan  2015  15-24   total       1.000000
449  Central and Southern Asia  Uzbekistan  2015  25-64  female       1.000000
450  Central and Southern Asia  Uzbekistan  2015  25-64    male       1.000000
451  Central and Southern Asia  Uzbekistan  2015  25-64   total       1.000000
452  Central and Southern Asia  Uzbekistan  2015    65+  female       0.996261
453  Central and Southern Asia  Uzbekistan  2015    65+    male       0.998460
454  Central and Southern Asia  Uzbekistan  2015    65+   total       0.997227
455  Central and Southern Asia  Uzbekistan  2016    15+  female       0.999784
456  Central and Southern Asia  Uzbekistan  2016    15+    male       0.999949
457  Central and Southern Asia  Uzbekistan  2016    15+   total       0.999866
458  Central and Southern Asia  Uzbekistan  2016  15-24  female       1.000000
459  Central and Southern Asia  Uzbekistan  2016  15-24    male       1.000000
460  Central and Southern Asia  Uzbekistan  2016  15-24   total       1.000000
461  Central and Southern Asia  Uzbekistan  2016  25-64  female       1.000000
462  Central and Southern Asia  Uzbekistan  2016  25-64    male       1.000000
463  Central and Southern Asia  Uzbekistan  2016  25-64   total       1.000000
464  Central and Southern Asia  Uzbekistan  2016    65+  female       0.996697
465  Central and Southern Asia  Uzbekistan  2016    65+    male       0.999018
466  Central and Southern Asia  Uzbekistan  2016    65+   total       0.997719

In [198]:
filtro_pais_2 = df[df['Country'] == 'Afghanistan']

In [199]:
print(filtro_pais_2) # La región de Afghanistan también es 'Central and Southern Asia'

                       Region      Country  Year    Age  Gender  Literacy rate
0   Central and Southern Asia  Afghanistan  2011    15+  female       0.176121
1   Central and Southern Asia  Afghanistan  2011    15+    male       0.454171
2   Central and Southern Asia  Afghanistan  2011    15+   total       0.317411
3   Central and Southern Asia  Afghanistan  2011  15-24  female       0.321132
4   Central and Southern Asia  Afghanistan  2011  15-24    male       0.618791
5   Central and Southern Asia  Afghanistan  2011  15-24   total       0.469900
6   Central and Southern Asia  Afghanistan  2011  25-64  female       0.084128
7   Central and Southern Asia  Afghanistan  2011  25-64    male       0.377948
8   Central and Southern Asia  Afghanistan  2011  25-64   total       0.231536
9   Central and Southern Asia  Afghanistan  2011    65+  female       0.196705
10  Central and Southern Asia  Afghanistan  2011    65+   total       0.203219
11  Central and Southern Asia  Afghanistan  2018    15+  female       0.298052
12  Central and Southern Asia  Afghanistan  2018    15+    male       0.554755
13  Central and Southern Asia  Afghanistan  2018    15+   total       0.430197
14  Central and Southern Asia  Afghanistan  2018  15-24  female       0.562547
15  Central and Southern Asia  Afghanistan  2018  15-24    male       0.740848
16  Central and Southern Asia  Afghanistan  2018  15-24   total       0.654206
17  Central and Southern Asia  Afghanistan  2018  25-64  female       0.143314
18  Central and Southern Asia  Afghanistan  2018  25-64    male       0.453840
19  Central and Southern Asia  Afghanistan  2018  25-64   total       0.304579
20  Central and Southern Asia  Afghanistan  2018    65+  female       0.034743
21  Central and Southern Asia  Afghanistan  2018    65+    male       0.247450
22  Central and Southern Asia  Afghanistan  2018    65+   total       0.133318

In [200]:
df['Region'].fillna('Central and Southern Asia', inplace = True) # Reemplazo en datos faltante con 'Central and Southern Asia'

In [201]:
df.isna().sum() # El Dataframe ya no tiene datos faltantes.

Region           0
Country          0
Year             0
Age              0
Gender           0
Literacy rate    0
dtype: int64

In [178]:
df.info() # Solo la columna 'Literacy rate' tiene inconsistencia. Deberían solo ser datos de tipo flotante. No contiene letras este dato.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4955 entries, 0 to 4954
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Region         4955 non-null   object
 1   Country        4955 non-null   object
 2   Year           4955 non-null   int64
 3   Age            4955 non-null   object
 4   Gender         4955 non-null   object
 5   Literacy rate  4955 non-null   object
dtypes: int64(1), object(5)
memory usage: 232.4+ KB

In [181]:
df['Literacy rate'] = df['Literacy rate'].astype(float) # Se indica que hay un dato que tiene un valor que no corresponde

In [180]:
df['Literacy rate'] = df['Literacy rate'].replace('45.384%', 0.45384) # Se reemplaza el valor que no corresponde por un N° flotante

In [182]:
df.info() # Ya se aplica el cambio de tipo de dato en la columna 'Literacy rate'

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4955 entries, 0 to 4954
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Region         4955 non-null   object
 1   Country        4955 non-null   object
 2   Year           4955 non-null   int64
 3   Age            4955 non-null   object
 4   Gender         4955 non-null   object
 5   Literacy rate  4955 non-null   float64
dtypes: float64(1), int64(1), object(4)
memory usage: 232.4+ KB

In [136]:
df['Gender'].value_counts() # Se observa también que existe un valor que no corresponde en la columna 'Gender'. Son muchas las filas con el valor, por lo que corresponde modificar el nombre 'total' por 'indeterminated'

female    1652
total     1652
male      1651
Name: Gender, dtype: int64

In [202]:
df['Gender'] = df['Gender'].replace('total', 'indeterminated')

In [203]:
df['Gender'].value_counts() # Ya aplicado el cambio de tipo de genero

female            1652
indeterminated    1652
male              1651
Name: Gender, dtype: int64

In [204]:
df['Year'].value_counts() # Sin inconsistencias

2018    861
2011    683
2014    660
2010    600
2012    516
2015    474
2013    396
2016    396
2017    369
Name: Year, dtype: int64

In [205]:
df['Age'].value_counts() # Sin inconsistencias

15+      1260
15-24    1239
25-64    1239
65+      1217
Name: Age, dtype: int64

In [206]:
df['Region'].value_counts() # Sin inconsistencias

Latin America and the Caribbean     1410
Sub-Saharan Africa                  1155
Northern Africa and Western Asia     852
Europe and Northern America          504
Central and Southern Asia            467
Eastern and South-Eastern Asia       423
Oceania                              144
Name: Region, dtype: int64

In [210]:
df['Country'].value_counts() # No parecen haber inconsistencias

Mexico                 108
Uruguay                108
Brazil                 108
Palestine               96
Turkey                  96
                      ...
Trinidad and Tobago     12
Greece                  12
Estonia                 12
Hungary                 12
Antigua and Barbuda      6
Name: Country, Length: 155, dtype: int64